{% extends 'base.html' %}

{% block content %}
<main class = "container">
    <div class = "row">
        <div class = "col-md-4 offset-md-4 mt-5">
            <form action = "/contactus/" method = "POST" class = "card card-body">
                <h1>Contact us </h1>
                {{error}}
                {% csrf_token %}
                {{form}}
                <button class = "btn btn-primary">
                    Send
                </button>  
            </form>
        </div>
    </div>
</main>
 
{% endblock content %}

