{% extends 'base.html' %}

{% block content %}

  <main class = "container ">
    <div class = "row ">
        <div class = "col-md-6 offset-md-3 card card-body mt-5 center">
            <h1 class = "text-center display-3 py-5">Completed Tasks</h1>
            <ul class = "list-group">
                {% for task in tasks %}
                
                <a class = "list-group-item">
                <header class = "d-flex justify-content-between">
                <h1 class = "fw-bold text-center"> {{task.title}} </h1>
                <p>{{task.datecompleted}}</p>
                </header>
                <!--<p>{{task.description}}</p>-->

                </a>

                {% endfor %}
                <ul>    
        </div>
    </div>
</main>

{% endblock content %}

